
irollOne/.classpath
irollOne/.project
irollOne/.settings/.jsdtscope
irollOne/.settings/com.google.cloud.tools.eclipse.appengine.deploy.prefs
irollOne/.settings/org.eclipse.core.resources.prefs
irollOne/.settings/org.eclipse.jdt.core.prefs
irollOne/.settings/org.eclipse.m2e.core.prefs
irollOne/.settings/org.eclipse.wst.common.component
irollOne/.settings/org.eclipse.wst.common.project.facet.core.xml
irollOne/.settings/org.eclipse.wst.jsdt.ui.superType.container
irollOne/.settings/org.eclipse.wst.jsdt.ui.superType.name
irollOne/.settings/org.eclipse.wst.validation.prefs
